# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/

# IDE/project files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# local env
.env

# sqlite DB or chroma persistence
embedded/chroma.sqlite3
embedded/*
# or whatever directory contains large vectorstore files
/data/
*.sqlite3

rag_output.txt

test.py

topics/

testing/*

crawl_log.txt